<div id="page-content">
	<div class="cont932">
	<div id="journal-articles-block">
		<div class="journal-article">
			<div class="journal-post-info">
				<div class="journal-cat-box">
				{% assign categories_list = page.categories %}
				{% assign category = categories_list.first %}
				{% include themes/Snail/category.html %}
				{% assign categories_list = nil %}
				</div>
			</div>
			<div class="journal-body">
				<h1 class="journal-title">{{ page.title }}<span class="author">{% if page.tagline %}{{page.tagline}}{% endif %}</span>
				</h1>
				<span class="the-article">
				{{ content }}
				</span>
				<div class="journal-date">Published {{ page.date | date_to_long_string }}</div>
				<div class="journal-tags">
				{% assign tags_list = page.tags %}
				{% include themes/Snail/tags_list %}
				</div>
			</div>
		</div>
		<div class="clearboth"></div>
	</div>
</div>
	<div class="clearboth"></div>
	{% include JB/comments %}

	<!-- 多说评论框 start -->
<!--	<div class="ds-thread" data-thread-key={{page.id}} data-title={{page.title}} data-url="xaiolos.github.io{{page.url}}"></div> -->
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<!--<script type="text/javascript">
var duoshuoQuery = {short_name:"xaiolos"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script> -->
<!-- 多说公共JS代码 end -->

	<div class="clearboth"></div>
</div>